<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../resource/assets/libs/jqueryplugins/ui/jquery-ui.css">
    <link rel="stylesheet" href="../resource/assets/libs/jqueryplugins/dynatree/skin/ui.dynatree.css">
    <link rel="stylesheet" href="../resource/assets/libs/jqueryplugins/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../resource/styles/main.css">
    <script type="text/javascript" src="../resource/assets/libs/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/dynatree/jquery.dynatree.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/codemirror/mode/css/css.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/codemirror/addon/edit/closebrackets.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/codemirror/addon/edit/closetag.js"></script>
    <link rel="stylesheet" href="../resource/assets/libs/jqueryplugins/codemirror/addon/display/fullscreen.css">
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/codemirror/addon/display/fullscreen.js"></script>
    <link rel="stylesheet" href="../resource/assets/libs/jqueryplugins/codemirror/theme/night.css">
    <link rel="stylesheet" href="../resource/styles/customtree.css">
    <script type="text/javascript" src="../resource/assets/libs/baiduTemplate.js"></script>
    <link rel="stylesheet" href="../resource/assets/libs/jqueryplugins/layer/skin/layer.css">
    <link rel="stylesheet" href="../resource/assets/libs/jqueryplugins/layer/skin/layer.ext.css">
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/layer/layer.min.js"></script>
    <script type="text/javascript" src="../resource/assets/libs/jqueryplugins/layer/extend/layer.ext.js"></script>
    <script type="text/javascript" src="../resource/js/index.js"></script>
    <script id="tabTemplate" type="text/html">
        <% $("#main_tabs li").removeClass("active"); %>
        <li class="active" style="display: block;" data-target="#<%=id%>" data-path="<%=path%>">
            <a>
                <span class="icon-info-source"></span>
                <span class="tab-text"><%=title%></span>
                <span class="custom-icon custom-icon-remove" title="关闭" data-path="<%=path%>"></span>
            </a>
        </li>
    </script>
    <script id="tabContentTemplat" type="text/html">
        <% $("#main_tabcontents div.tab-pane").removeClass("active"); %>
        <div class="tab-pane active" id="<%=id%>" data-path="<%=path%>">
            <div class="source-editor code-editor">
                <div class="toolbar"><pre>F11 - 全屏编辑  Ctrl-S - 保存文件  F5 - 刷新文件</pre></div>
            </div>
        </div>
    </script>
</head>

<body>
<div id="fullbg"></div>
<div id="guide-generate-app"></div>
<div id="guide-show-app"></div>
<div id="guide-code-app"></div>

<div id="qrcontainer" style="display: none" ></div>
<div class="body-container">
    <div class="app-panel" id="app_panel">

        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript: void(0);"></a>
                <ul class="nav navbar-nav">
                    <li>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" title="返回项目列表" data-tiggzi-action="closeProject">
                                <i class="custom-icon custom-icon-close"></i>
                                <span class="title" id="closeProject">关闭项目</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" title=" Ctrl+S" data-tiggzi-action="save"
                               data-loading-text="<i class='custom-icon custom-icon-save'></i> Saving...">
                                <i class="custom-icon custom-icon-save"></i>
                                <span class="title" id="saveFileText">保存文件</span>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-toggle="dropdown" title="Export">
                                <i class="custom-icon custom-icon-export"></i>
                                <span class="title" id="releaseApp">生成App</span>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    Android
                                </li>
                                <li>
                                    IOS
                                </li>
                                <li>
                                    WPhone
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-toggle="dropdown" title="Export">
                                <i class="custom-icon custom-icon-test"></i>
                                <span class="title" id="testApp">启动预览</span>
                            </a>
                        </div>
                    </li>


                </ul>


            </div>
        </div>

    </div>

    <div class="app-content">
        <div class="project-info ui-resizable" id="project_panel" aria-disabled="false" style="position: absolute; top: 0px; left: 0px;">
            <!-- 头部，伸缩面板-->
            <div class="panel-header" id="hide-tree">
                <span class="panel-header-text" id="panel-project-name" style="text-align: center"></span>
                <i class="custom-icon custom-icon-double-arrow-left"></i>
            </div>

            <!--项目树面板-->
            <div class="project-inspector" id="project-inspector">
                <!--项目面板头部-->
                <div class="panel-top" id="project-panel-top"><input type="button" value="新建" style="width: 150px" id="testbtn"></div>
                <!--源码tab-->
                <ul class="nav nav-tabs project-tree-nav-tabs">
                    <li class="active">
                        <button class="project-tree-nav-tab btn btn-xs btn-switch">源码视图</button>
                    </li>
                </ul>
                <!--源码tab内容-->
                <div class="tab-content project-tree-tab-content">
                    <div class="tab-pane active" id="source_tree">

                    </div>
                </div>
            </div>
            <span class="panel-collapsed-header-text"></span>
            <div class="ui-resizable-handle ui-resizable-e" style="z-index: 1000;"></div>
        </div>

        <div class="project-content" id="main_tabs" style="margin-left: 246px;margin-right: 253px;">
            <ul class="nav nav-tabs">

            </ul>
            <div class="tab-content" id="main_tabcontents">

            </div>
        </div>

        <div class="project-info ui-resizable" style="right: 0px;top: 32px;">
            <div class="panel-header" id="hide-preview">
                <i class="custom-icon custom-icon-double-arrow-left" style="left: 10px;top: 10px;background-position: -92px -22px"></i>
                <span class="panel-header-text" id="panel-preview" style="text-align: center"><b></b></span>
            </div>
            <iframe id = "previewframe" src="" style="width: 250px; height: 500px"></iframe>
            <div>
                <img style="width: 247px;height: 247px;" id = "qrImage" />
            </div>
        </div>
    </div>
</div>
</body>
</html>